extends ../layout

block content

	h2 Toutes les cartes

	table.table
		thead
			tr
				th Nom
				th Élixir
				th Niveau max
				th Icône
		tbody
			each card in cards
				tr
					td
						p= card.name
					td
						p= card.elixir
					td
						p= card.maxLevel
					td
						img(src=card.iconUrl, height=100)
			else
				p Pas de cartes