extends ../layout

block content

	h2 Toutes les cartes par rareté

	h3 Communes

	table.table
		thead
			tr
				th Nom
				th Élixir
				th Icône
		tbody
			each card in cards
				if card.maxLevel == 13
					tr
						td
							p= card.name
						td
							p= card.elixir
						td
							img(src=card.iconUrl, height=100)
			else
				p Pas decartes

	h3 Rares

	table.table
			thead
				tr
					th Nom
					th Élixir
					th Icône
			tbody
				each card in cards
					if card.maxLevel == 11
						tr
							td
								p= card.name
							td
								p= card.elixir
							td
								img(src=card.iconUrl, height=100)
				else
					p Pas de cartes

	h3 Épiques

	table.table
			thead
				tr
					th Nom
					th Élixir
					th Icône
			tbody
				each card in cards
					if card.maxLevel == 8
						tr
							td
								p= card.name
							td
								p= card.elixir
							td
								img(src=card.iconUrl, height=100)
				else
					p Pas de cartes

	h3 Légendaires

	table.table
			thead
				tr
					th Nom
					th Élixir
					th Icône
			tbody
				each card in cards
					if card.maxLevel == 5
						tr
							td
								p= card.name
							td
								p= card.elixir
							td
								img(src=card.iconUrl, height=100)
				else
					p Pas de cartes
