doctype html
html
  head
    title= title
    link(rel='favicon', sizes='64x64', href='favicon.ico')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Deck Clash Royale API
        
    include navbar.pug

    div.container
      block content
