nav.navbar.navbar-light.bg-light
  .container-fluid
    .navbar-header.navbar-inline
      a(href="/home").navbar-brand Accueil
      a(href='/cards').mr-4 Cartes
      a(href='/by-rarity').mr-4 Rareté

    ul.nav.navbar-nav  
      if !session 
        li 
          a(href="/register") S'inscrire
      else 
        li
          p Bonjour #{user.firstname} !
        li
          a(href="/decks") Decks
        li
          a(href="/account") Compte
      li
        a(href=session ? '/logout' : '/login')= session ? 'Déconnection' : 'Connection'