extends ../layout

block content

    h2= isNew ? 'Créez un deck' : 'Modifier un deck'

    form(action= isNew ? '/decks' : '/decks/' + deck.id + '?_method=PATCH', method='POST')

        .form-group
            label(for='title') Titre
            input#title.form-control(type='text', name='title', value= isNew ? '' : deck.title)

        .form-group
            each val in [0,1,2,3,4,5,6,7]
                label(for='composition')= 'Carte ' + (val+1)
                select.select.form-control.input-lg.mb-4(name= 'card' + (val+1))
                    option(selected= true)= isNew ? '-- Sélectionner --' : deckCards[val].name
                        each card in cards
                            option= card.name
                    

        input.btn.btn-default(type='submit', value= isNew ? 'Créer' : 'Modifier')