extends ../layout

block content

    h2 Liste de decks

    a(href='/decks/add') Ajouter un deck

    p Nombre de decks déjà créés : #{count}

    table.table
        thead
            tr
                th Titre
                th Élixir moyen
                th Composition
        tbody
            if count > 0
                each deck in decks
                    tr
                        td
                            a(href='/decks/' + deck.id)= deck.title
                        td
                            a(href='/decks/' + deck.id)= deck.elixirAvr
                        td 
                            each card in deck.dataValues.cards.split(';')
                                img(src= JSON.parse(card).iconUrl, height=100)
                            
            