extends ../layout

block content

    h2 Deck #{deck.title}
    h3 Coût moyen en élixir : #{deck.elixirAvr}

    table.table
        thead
            tr
                th Nom
                th Élixir
                th Level max
                th Icône
        tbody
            each val in [0,1,2,3,4,5,6,7]
                tr
                    td= cards[val].name
                    td= cards[val].elixir
                    td= cards[val].maxLevel
                    td
                        img(src= cards[val].iconUrl, height=100)

    br
    form(action='/decks/' + deck.id + '?_method=DELETE', method='POST')
        button.btn.btn-default Supprimer
    br
    a(href='/decks/' + deck.id + '/edit') 
        button.btn.btn-default Modifier